// fonts
$main_font: 'Roboto', sans-serif;

// colors
$header-color: #004B98;
$main-background-color: #F8F8F8;
$block-background-color: #ffffff;
$button-color: #2B9BFF;
$main-text-color: #000000;
$secondary-text-color: #C1C1C1;